* {
	font-family: "serial";
	font-size: 20px;
	color: black;
}

body {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	background-color: white;
}

a {
	/*text-decoration: none;*/
}

a:hover {
	text-decoration: underline;
}

p {
	text-align: left;
	height: auto;
	margin: 5px 0px 0px 5px;
	padding: 0;
}

.INFO {
	color: grey;
}

.ATTACK {
	color: crimson;
}

.SHIELD {
	color: blue;
}

.CHARGE {
	color: goldenrod;
}
